# Ignore all files
*.*

# Except
!*.json
!*.js
!*.zip
!*.7z
!*.csv
!*.ain
!*.fnl
!BB_FHD_patch.xp3
!BB_FHD_patch/*
!version.dll
!.gitignore
!patch.bat
!README.md
!ENCG/*

# Images
!map curie.png_
!map erudo .png_
!map kangoku.png_
!map kennkyuujyo .png_
!map marogesu.png_
!map mati.png_
!map noruzu.png_
!map rasura.png_
!map sosiki.png_
!n erudo.png_
!Layout.png_
!Layout_Enemy.png_
!Layout_Item.png_
!Layout_Skill.png_